<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderBody()
</body>
@if (IsSectionDefined("Scripts"))
{
    @RenderSection("Scripts", required: true)
}
</html>